<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnCo0RheO1gesY-JGHKOGiRRzMLo4fYks</string>
	<key>GCM_SENDER_ID</key>
	<string>305022913578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magnify.trivia</string>
	<key>PROJECT_ID</key>
	<string>trivia-b4527</string>
	<key>STORAGE_BUCKET</key>
	<string>trivia-b4527.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305022913578:ios:3d75078b04a211cf0ac753</string>
</dict>
</plist>