<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCc1WVGcoBGW4lUkm9q_43tUHoS5SP9sQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>406179880402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.delivfree.consumer</string>
	<key>PROJECT_ID</key>
	<string>delivfree-app</string>
	<key>STORAGE_BUCKET</key>
	<string>delivfree-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406179880402:ios:c7d290486eaf685b297c0b</string>
</dict>
</plist>